<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/public/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/public/login.css">
    <!-- <link rel="stylesheet" href="/public/jquery"> -->
</head>
<body>

    <div class="main">

        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form method="POST" action="/login" id="signup-form" class="signup-form">
                        <h2 class="form-title">login to your account</h2>
                        <div class="form-group">
                            <input type="email" class="form-input" name="username" id="username" placeholder="Your Email"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password" id="password" placeholder="Password"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                       
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Log In"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Don't Have an account? <a href="/user/register" class="loginhere-link">Create an Account</a>
                    </p>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="/public/jquery/jquery.min.js"></script>
    <script src="/public/jquery/jquery-ui.min.js"></script>
    <script src="/public/main.js"></script>
</body>
</html>